@keyframes fadeIn {
    0% {
        opacity:0;
        -webkit-animation-timing-function:cubic-bezier(0.3, 0, 0, 1);
                animation-timing-function:cubic-bezier(0.3, 0, 0, 1)
    }
    76.92% {
        opacity:1;
        -webkit-animation-timing-function:linear;
                animation-timing-function:linear
    }
    100% {
        opacity:1
    }
}
@keyframes fadeOut {
    0% {
        opacity:1;
        -webkit-animation-timing-function:cubic-bezier(0.3, 0, 0, 1);
                animation-timing-function:cubic-bezier(0.3, 0, 0, 1)
    }
    76.92% {
        opacity:0.5;
        -webkit-animation-timing-function:linear;
                animation-timing-function:linear
    }
    100% {
        opacity:0
    }
}
* {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box
}
*:before, *:after {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box
}
html {
    -webkit-tap-highlight-color:transparent
}
body {
    width: 100%;
    font-family:'Noto Sans SC', sans-serif;
    font-size:16px;
    line-height:1.42857143;
    color:#333;
    background-color:#f9f9f9;
    margin:0;
    padding:0
}
input, button, select, textarea {
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    box-shadow:none
}
::-moz-selection {
    background:#111;
    color:#fff
}
::selection {background:#111;
    color:#fff
}
a {
    text-decoration:none
}
a:hover {
    color:#38B7EA
}
::-webkit-scrollbar {
    display: none;
    width:4px;
    height:4px;
    background-color:#222
}
::-webkit-scrollbar-track {
    background-color:#222
}
::-webkit-scrollbar-thumb {
    width:2px;
    background-color:#888
}
.hidden-xs {
    display:none
}
.board {
    box-shadow:0px 0px 6px #e3e3e3;
    background:#fff
}
.card {
    box-shadow:0px 2px 0px rgba(170,170,170,0.1);
    background:#fff;
    margin-bottom:7px;
    border-radius:3px;
    margin-left:2px;
    margin-right:2px
}
.card .card-header {
    overflow:hidden;
    height: 55px;
    display:block;
    cursor:pointer;
    padding:10px 18px 0;
    color:#333
}
.card .card-header:hover {
    color:#38B7EA
}
.card .card-header .card-icon {
    width:23px;
    border-radius:30px;
    float:left;
    margin-top: 8px;
}
.card .card-header .card-icon img {
    width:100%;
    height:100%;
    border-radius:32px; 
}
.card .card-header .card-title {
    display:block;
    padding-left:35px;
    margin-top:6px;
    font-weight:500;
    font-size: 0.95em;
    color:inherit
}.card .card-body {
    color:#666666;
    font-size: 0.8em;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin-bottom:2px;
    padding:0 18px 0 55px;
}
.card .card-body p {
    margin-top: 0;
    margin-bottom: 7px;
}
.card:hover {
    box-shadow:0 3px 3px rgba(170,170,170,0.2)
}
.panel {
    border-radius:6px;
    padding:0 0 0 20px;
    margin-bottom:10px
}
.header-wrap {
    display:block;
    z-index:100;
    height:65px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    margin-bottom: 10px;
    background-color:#424fc7
}
.header-wrap .logo {
    display:block;
    text-decoration:none;
    margin:10px auto;
    width:50px
}
.header-wrap .logo img {
    width:auto;
    height:50px;
    margin-bottom: 10px;
    display:block
}
.btn-sidenav {
    left:0;
    top:0;
    width:40px;
    height:100%;
    color:#ddd;
    cursor:pointer;
    display:block;
}
.nav-bar-animate span {
    opacity:1;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.nav-bar-animate span:nth-last-child(3) {
    opacity:1;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.nav-bar-animate span:nth-last-child(2) {
    opacity:0
}
.nav-bar {
    padding:24px 50px 40px 16px;
    position:fixed;
    z-index:1000
}
.nav-bar span {
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:20px;
    height:1px;
    margin-bottom:6px;
    position:relative;
    background:#fff;
    border-radius:3px;
    z-index:1;
    -webkit-transform-origin:20px;
            transform-origin:20px;
    -webkit-transition:background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            transition:background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease;
            transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),opacity 0.55s ease,-webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1)
}
.hide-sidenav {
    transform:translate(-230px, 0) !important
}
.show-sidenav {
    transform:translate(0, 0) !important
}
.sidenav-mark {
    background:rgba(0,0,0,0.75);
    height:100%;
    left:0;
    position:fixed;
    top:60px;
    width:100%;
    -webkit-animation-name:fadeIn;
            animation-name:fadeIn;
    -webkit-animation-duration:530ms;
            animation-duration:530ms;
    -webkit-animation-timing-function:linear;
            animation-timing-function:linear;
    -webkit-animation-direction:normal;
            animation-direction:normal;
    -webkit-animation-delay:0s;
            animation-delay:0s;
    z-index:199
}
.sidenav {
    overflow: auto;
    width:230px;
    position:fixed;
    z-index:200;
    top:0;
    left:0;
    bottom:-100px;
    background-color:#4653c4;
    padding:31px 0;
    color:#ccc;
    box-shadow:0 0 15px rgba(51, 51, 51, 0.5);
}
.sidenav {
    transform:translate(-230px, 0);
    transition:transform 430ms cubic-bezier(0.3, 0, 0, 1)
}
.sidenav .btn-close {
    display:none;
    position:absolute;
    top:0px;
    padding-top:18px;
    padding-left:12px;
    width:180px;
    height:40px
}
@media screen and (max-width: 767px) {
    .sidenav .btn-close {
        display:block
    }
}
.sidenav .copyright {
    display:block;
    font-size: 0.7em;
    text-align:center;
    color:#e6e6e6;
    padding-top:12px
}
.sidenav .logo {
    position:relative;
    display:block;
    text-align:center
}
.sidenav .logo img {
    width:50px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    z-index:2
}
.sidenav .description {
    color:#e6e6e6;
    text-align:center;
    margin-bottom:20px;
}
.sidenav .nav-item {
    height: 50px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
    border-top:1px solid #ffffff
}
.sidenav .nav-item:last-child {
    border-bottom:1px solid #ffffff
}
.sidenav .nav-item:hover {
    background-color:rgb(232, 236, 238);
}
.sidenav .nav-item:hover a {
    color:#000
}
.sidenav .nav-item a {
    color:#fff;
    font-weight:700;
    padding:7px;
    display:block
}
.sidenav .nav-item a .icon {
    display:block;
    font-weight:200
}
.sidenav .nav-item a span {
    position:relative;
    top:-2px;
    font-size: 0.8em;
}
.sidenav .nav-item.active {
    background-color:#fff
}
.sidenav .nav-item.active a {
    color:#000
}
.sidenav .nav-item img {
    width: 20px;
}
.main-wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}
.main-wrap .board {
    padding-left:20px;
    border-radius:6px;
    margin-bottom:10px;
    height:55px;
    overflow:hidden
}
.main-wrap .board img {
    width: 30px;
    vertical-align: middle;
}
.main-wrap .board span {
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
}